@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');

.App {
  text-align: center;
  background-size: cover;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: gray;
  background: white;
  text-rendering: optimizeLegibility;
}
